body {
  margin: 0%;
  padding: 0%;
}








img {
    vertical-align: middle;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }





  .wrapper {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
  }


/* Navbar Start */

nav {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 70px;
  color: white;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0%;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

/* Navbar End */
